<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}#CAA Quotes{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
        <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" />
    </head>
    <body>
        <div class="container" style="margin-bottom: 60px;">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="{% url quotes %}">#CAA Quotes</a>
                    <form class="navbar-search pull-right" method="get" action="{% url quote_search %}">
                        <input name="query" type="text" class="search-query" placeholder="Search">
                    </form>
                </div>
            </div>
{% block content %}
{% endblock %}
        </div>
{% block postcontent %}
{% endblock %}
    </body>
</html>
