{% extends "base.html" %}

{% block title %}#CAA Quotes{% endblock %}

{% block content %}
            {% for quote in object_list %}
            <div class="row-fluid">
                <div class="span12">
                    <blockquote>
                        <p>{% for line in quote.lines %}
                        {{ line }}<br />
                        {% endfor %}</p>
                        <small>Quote <cite title="Quote ID">#{{ quote.id }}</cite></small>
                    </blockquote>
                </div>
            </div>
            {% endfor %}
{% endblock %}
