{% extends "base.html" %}
{% load quotes_extras %}
{% block title %}#CAA Quotes{% endblock %}

{% block content %}
            {% for quote in object_list %}
            <div class="row-fluid">
                <div class="span12">
                    <blockquote>
                        <p>{% for line in quote.lines %}
                        {{ line|irc_format }}<br />
                        {% endfor %}</p>
                        <small><a href="{% url quote quote.id %}">Quote <cite title="Quote ID">#{{ quote.id }}</cite></a></small>
                    </blockquote>
                </div>
            </div>
            {% endfor %}
{% endblock %}

{% block postcontent %}
{% include "pagination.html" %}
{% endblock %}
